CONFIG_AVB_BRIDGE_PERF_TEST_MODE=y
CONFIG_AVB_BRIDGE_PERF_TEST_CHANNEL=6
CONFIG_AVB_BRIDGE_PERF_TEST_DURATION_SEC=30
CONFIG_AVB_BRIDGE_PERF_TEST_PAYLOAD_BYTES=192
CONFIG_AVB_BRIDGE_PERF_TEST_INTERVAL_US=0
CONFIG_FREERTOS_HZ=1000
